html {
    position: relative;
    min-height: 100%;
}

html body{
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title{
    background:#ffdf00;
    opacity: .9;
    padding:15px;
    border-radius: 7px;
    margin-top:5px;
}

h2{
    background: #ffdf00;  /* fallback for old browsers */
    padding:5px;
    border-radius: 7px;
}

.burgerPic{
    width:200px;
    height: 200px;
    background-color: #ffdf00;
    padding:15px;
    border-radius: 175px;
    margin:5px;
}

li.list-group-item{
    font-size: 120%
}

.bottom{
    background-color: #f7f4f9;
    opacity: .9;
    padding:15px;
    border-radius: 7px;
    margin: 0px;
    margin-top: 20px;
}

.custButton{
    background: #ffdf00;
    margin: 2px; 
}

.custcard{
    margin-top:8px;
    padding:8px !important;
}